header {
  height: 30vh;
  width: 100%;
}
header > div:first-child {
  height: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ecedf0;
  padding: 1.3rem 0;
  margin-left: 5%;
  font-size: 0.8rem;
}
header > div:first-child > div:first-child {
  display: flex;
}
header > div:first-child > div:first-child > div {
  padding-left: 4%;
}
header > div:first-child > div:first-child > div a {
  font-size: 14px;
  text-decoration: none;
}
header > div:first-child > div:first-child > div a > span {
  color: #5b5f66;
  font-family: system-ui;
}
header > div:first-child > div:first-child > div:nth-child(4) > a > img {
  margin-top: -2px;
  height: 18px;
}
header > div:first-child > div:first-child > div:nth-child(5) > a > img {
  margin-top: -7px;
  height: 25px;
  margin-bottom: 20px;
}
header > div:first-child > div:first-child > div:nth-child(6) > a > img {
  margin-top: -1px;
  height: 15px;
}
header > div:first-child > div:first-child > div:last-child > a > :hover {
  transition: 0.7s;
  background-color: #f6861f;
}
header > div:first-child > div:first-child > div:last-child > a > :hover > span {
  color: white;
}
header > div:first-child > div:first-child > div:last-child > a > button {
  cursor: pointer;
  background-color: white;
  margin-top: -7px;
  height: 30px;
  width: 60px;
  border: 1px solid #f6861f;
  border-radius: 5px;
}
header > div:first-child > div:first-child > div:last-child > a > button > span {
  font-weight: 500;
  color: #f6861f;
  font-family: system-ui;
}
header > div:first-child > div:last-child {
  display: flex;
  padding-right: 5%;
}
header > div:first-child > div:last-child > div {
  padding-left: 45px;
}
header > div:first-child > div:last-child > span {
  margin-top: -5px;
  padding-left: 45px;
  font-size: x-large;
  font-family: system-ui;
  color: rgba(126, 122, 122, 0.192);
}
header > div:first-child > div:last-child > div:first-child {
  margin-top: -5px;
}
header > div:first-child > div:last-child > div:first-child > a {
  text-decoration: none;
}
header > div:first-child > div:last-child > div:first-child > a > span {
  color: black;
  font-size: x-large;
  font-weight: 500;
  font-family: system-ui;
}
header > div:first-child > div:last-child > div:first-child > a > i {
  color: #198754;
}
header > div:first-child > div:last-child > div:nth-child(3) > div:first-child {
  margin-top: -5px;
}
header > div:first-child > div:last-child > div:nth-child(3) > div:first-child > a {
  text-decoration: none;
}
header > div:first-child > div:last-child > div:nth-child(3) > div:first-child > a > span {
  font-size: 14px;
  color: #212529;
  font-family: system-ui;
}
header > div:first-child > div:last-child > div:nth-child(3) > div:first-child > a > i {
  color: #198754;
}
header > div:first-child > div:last-child > div:nth-child(3) > div:last-child > a {
  text-decoration: none;
}
header > div:first-child > div:last-child > div:nth-child(3) > div:last-child > a > span {
  font-size: 14px;
  color: #212529;
  font-family: system-ui;
}
header > div:first-child > div:last-child > div:nth-child(3) > div:last-child > a > i {
  color: #198754;
}
header > div:first-child > div:last-child > div:nth-child(5) > a {
  text-decoration: none;
}
header > div:first-child > div:last-child > div:nth-child(5) > a > span {
  font-size: 14px;
  color: #212529;
  font-family: system-ui;
}
header > div:last-child {
  height: 30px;
  display: flex;
  padding: 1.3rem 0;
  padding-left: 93px;
}
header > div:last-child > div:first-child > a > img {
  border: 1px solid white;
  border-radius: 5px;
  height: 7vh;
  width: 100%;
}
header > div:last-child > div:nth-child(2) > a > :hover {
  background-color: white;
  border-color: #40b659;
  transition: 0.7s;
}
header > div:last-child > div:nth-child(2) > a > :hover > i {
  color: #40b659;
}
header > div:last-child > div:nth-child(2) > a > :hover > span {
  color: #40b659;
}
header > div:last-child > div:nth-child(2) > a > button {
  margin-left: 20px;
  width: 125px;
  height: 50px;
  border-radius: 8px;
  background: #40b659;
  border: 1px solid white;
  cursor: pointer;
}
header > div:last-child > div:nth-child(2) > a > button > i {
  color: #fff;
}
header > div:last-child > div:nth-child(2) > a > button > span {
  color: #fff;
  font-size: 16px;
  font-family: system-ui;
}
header > div:last-child > div:nth-child(3) > input {
  margin-left: 15px;
  width: 600px;
  height: 50px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  background-color: #f8f9fa;
}
header > div:last-child > div:nth-child(3) > a > button {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: #f8f9fa;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
}
header > div:last-child > div:last-child {
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
}
header > div:last-child > div:last-child > div {
  margin-left: 10px;
}
header > div:last-child > div:last-child > div:first-child > :hover {
  transition: 0.3s;
}
header > div:last-child > div:last-child > div:first-child > :hover > i {
  color: #f6861f;
}
header > div:last-child > div:last-child > div:first-child > :hover > span {
  color: #f6861f;
}
header > div:last-child > div:last-child > div:first-child > a {
  text-decoration: none;
  display: table-caption;
}
header > div:last-child > div:last-child > div:first-child > a > i {
  color: #232d40;
  margin-left: 25px;
}
header > div:last-child > div:last-child > div:first-child > a > span {
  color: #232d40;
  font-family: system-ui;
}
header > div:last-child > div:last-child > div:nth-child(2) > :hover > i {
  color: #f6861f;
}
header > div:last-child > div:last-child > div:nth-child(2) > :hover > span {
  color: #f6861f;
}
header > div:last-child > div:last-child > div:nth-child(2) > a {
  text-decoration: none;
  display: table-caption;
}
header > div:last-child > div:last-child > div:nth-child(2) > a > i {
  color: #232d40;
  margin-left: 25px;
}
header > div:last-child > div:last-child > div:nth-child(2) > a > span {
  color: #232d40;
  font-family: system-ui;
}
header > div:last-child > div:last-child > div:nth-child(3) > :hover > i {
  color: #f6861f;
}
header > div:last-child > div:last-child > div:nth-child(3) > :hover > span {
  color: #f6861f;
}
header > div:last-child > div:last-child > div:nth-child(3) > a {
  text-decoration: none;
  display: table-caption;
}
header > div:last-child > div:last-child > div:nth-child(3) > a > :hover {
  color: #f6861f;
  transition: 0.3s;
}
header > div:last-child > div:last-child > div:nth-child(3) > a > i {
  color: #232d40;
  margin-left: 10px;
}
header > div:last-child > div:last-child > div:nth-child(3) > a > span {
  color: #232d40;
  font-family: system-ui;
}
header > div:last-child > div:last-child > div:last-child > a {
  text-decoration: none;
  display: table-caption;
}
header > div:last-child > div:last-child > div:last-child > a > :hover {
  transition: 0.7s;
  background-color: #40b659;
  border-color: #e6e6e6;
}
header > div:last-child > div:last-child > div:last-child > a > :hover > i {
  color: #e6e6e6;
}
header > div:last-child > div:last-child > div:last-child > a > :hover > span {
  color: #e6e6e6;
}
header > div:last-child > div:last-child > div:last-child > a > button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 150px;
  margin-top: -25px;
  margin-left: 15px;
  background-color: white;
  border: 1px solid #40b659;
  border-radius: 10px;
}
header > div:last-child > div:last-child > div:last-child > a > button > i {
  margin-left: 60px;
  margin-top: 20px;
  color: #40b659;
}
header > div:last-child > div:last-child > div:last-child > a > button > span {
  font-size: 15px;
  margin-top: 5px;
  margin-left: 30px;
  color: #40b659;
  font-family: system-ui;
  font-weight: 500;
}

main #banner {
  display: flex;
  margin-top: 20px;
}
main #banner > div:first-child > img {
  border: 1px solid white;
  border-radius: 20px;
  height: 422px;
  width: 876px;
  padding-left: 93px;
}
main #banner > div:last-child {
  width: 425px;
  height: 420px;
  border: 2px solid #ffd436;
  border-radius: 10px;
  margin-left: 20px;
}
main #banner > div:last-child > div:first-child > div:first-child {
  background-color: #ffd436;
  display: flex;
  justify-content: space-between;
}
main #banner > div:last-child > div:first-child > div:first-child > p:first-child {
  margin-left: 25px;
  font-weight: 500;
  font-family: system-ui;
}
main #banner > div:last-child > div:first-child > div:first-child > p:last-child {
  font-weight: 500;
  margin-right: 25px;
  font-family: system-ui;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:first-child > a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:first-child > a > img {
  height: 15px;
  width: 76px;
  margin-right: 25px;
  margin-top: 23px;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:first-child > a > h3 {
  margin-left: 25px;
  color: #212529;
  font-family: system-ui;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(2) > a {
  text-decoration: none;
  display: flex;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(2) > a > img {
  height: 184px;
  width: 184px;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(2) > a > div {
  color: #212529;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  margin-left: 15px;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(2) > a > div > span {
  color: #1743df;
  border: 1px solid white;
  background-color: #e6edf9;
  font-family: system-ui;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) {
  display: flex;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:first-child {
  margin-left: 30px;
  display: grid;
  margin-top: 60px;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:first-child > span:first-child {
  font-size: medium;
  text-decoration: line-through;
  font-weight: 500;
  font-family: system-ui;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:first-child > span:last-child {
  font-size: x-large;
  font-weight: 500;
  font-family: system-ui;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > a > :hover {
  background-color: white;
  transition: 0.7s;
  border-color: #f6861f;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > a > :hover > i {
  color: #f6861f;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > a > :hover > span {
  color: #f6861f;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > a > button {
  cursor: pointer;
  margin-top: 60px;
  color: #1743df;
  width: 150px;
  height: 49px;
  margin-left: 30px;
  background-color: #f6861f;
  border-color: white;
  border-radius: 10px;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > a > button > i {
  color: white;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > a > button > span {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: system-ui;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:last-child > a > :hover {
  background-color: white;
  transition: 0.7s;
  border-color: #40b659;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:last-child > a > :hover > i {
  color: #40b659;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:last-child > a > button {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-top: 60px;
  background-color: #40b659;
  border-radius: 10px;
  border-color: white;
}
main #banner > div:last-child > div:first-child > div:nth-child(2) > div:nth-child(3) > div:last-child > a > button > i {
  color: white;
}
main #services-info {
  margin-top: 3%;
  height: 22vh;
  width: 88%;
  margin-left: 93px;
  background-color: rgba(244, 243, 243, 0.6392156863);
  border: 1px solid white;
  border-radius: 10px;
}
main #services-info > div:first-child {
  display: flex;
  justify-content: space-around;
}
main #services-info > div:first-child > div {
  display: grid;
}
main #services-info > div:first-child > div > i {
  margin-top: 50px;
  margin-left: 60px;
  color: #40b659;
}
main #services-info > div:first-child > div > span {
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
  font-family: system-ui;
}
main #popular-products {
  font-family: system-ui;
  margin-left: 93px;
  width: 1322px;
  height: 720px;
}
main #popular-products > h2 {
  font-size: 40px;
  font-weight: 500;
  margin-top: 60px;
}
main #popular-products > div {
  display: flex;
  justify-content: space-evenly;
}
main #popular-products > div > div:first-child {
  width: -moz-min-content;
  width: min-content;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
}
main #popular-products > div > div:first-child > div:first-child > div:nth-child(3) {
  display: grid;
  margin-left: 10px;
}
main #popular-products > div > div:first-child > div:first-child > div:nth-child(3) > span:first-child {
  font-size: 14px;
  color: #7f8185;
}
main #popular-products > div > div:first-child > div:first-child > div:nth-child(3) > span:last-child {
  font-size: 18px;
  font-weight: 500;
}
main #popular-products > div > div:first-child > div:first-child > a > img {
  width: 283px;
  height: 188px;
}
main #popular-products > div > div:first-child > div:first-child > a {
  text-decoration: none;
}
main #popular-products > div > div:first-child > div:first-child > a > :hover {
  transition: 0.3s;
  color: #f6861f;
}
main #popular-products > div > div:first-child > div:first-child > a > i {
  margin-left: 12px;
  margin-top: 12px;
  color: #7f8185;
}
main #popular-products > div > div:first-child > div:first-child > div:nth-child(4) > a {
  margin-left: 10px;
  text-decoration: none;
}
main #popular-products > div > div:first-child > div:first-child > div:nth-child(4) > a > i {
  color: black;
}
main #popular-products > div > div:first-child > div:first-child > div:nth-child(4) > :hover > i {
  color: #f6861f;
}
main #popular-products > div > div:first-child > div:first-child > button {
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  border-color: #3192ec;
}
main #popular-products > div > div:first-child > div:first-child > button > span {
  color: #3192ec;
}
main #popular-products > div > div:first-child > div:first-child > button > i {
  color: #3192ec;
}
main #popular-products > div > div:first-child > div:last-child {
  margin-top: 60px;
}
main #popular-products > div > div:first-child > div:last-child > div:first-child {
  display: flex;
  justify-content: space-between;
}
main #popular-products > div > div:first-child > div:last-child > div:first-child > span {
  margin-left: 10px;
  font-size: x-large;
  font-weight: 500;
}
main #popular-products > div > div:first-child > div:last-child > div:first-child > button {
  margin-right: 10px;
  width: 153px;
  height: 78px;
  border-color: rgb(238, 236, 236);
  background-color: white;
  border-style: solid;
}
main #popular-products > div > div:first-child > div:last-child > div:last-child {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
main #popular-products > div > div:first-child > div:last-child > div:last-child > a > :hover {
  background-color: white;
  border-color: #40b659;
  transition: 0.7s;
}
main #popular-products > div > div:first-child > div:last-child > div:last-child > a > :hover > i {
  color: #40b659;
}
main #popular-products > div > div:first-child > div:last-child > div:last-child > a > :hover > span {
  color: #40b659;
}
main #popular-products > div > div:first-child > div:last-child > div:last-child > a > button {
  cursor: pointer;
  width: 253px;
  height: 45px;
  border-style: solid;
  background-color: #40b659;
  border-radius: 5px;
  border-color: white;
}
main #popular-products > div > div:first-child > div:last-child > div:last-child > a > button > i {
  color: white;
}
main #popular-products > div > div:first-child > div:last-child > div:last-child > a > button > span {
  color: white;
  font-size: 17px;
  font-weight: 500;
}
main #popular-products > div > div:nth-child(2) {
  width: -moz-min-content;
  width: min-content;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
}
main #popular-products > div > div:nth-child(2) > div:first-child > div:nth-child(3) {
  display: grid;
  margin-left: 10px;
}
main #popular-products > div > div:nth-child(2) > div:first-child > div:nth-child(3) > span:first-child {
  font-size: 14px;
  color: #7f8185;
}
main #popular-products > div > div:nth-child(2) > div:first-child > div:nth-child(3) > span:last-child {
  font-size: 18px;
  font-weight: 500;
}
main #popular-products > div > div:nth-child(2) > div:first-child > a > img {
  width: 283px;
  height: 188px;
}
main #popular-products > div > div:nth-child(2) > div:first-child > a {
  text-decoration: none;
}
main #popular-products > div > div:nth-child(2) > div:first-child > a > :hover {
  transition: 0.3s;
  color: #f6861f;
}
main #popular-products > div > div:nth-child(2) > div:first-child > a > i {
  margin-left: 12px;
  margin-top: 12px;
  color: #7f8185;
}
main #popular-products > div > div:nth-child(2) > div:first-child > div:nth-child(4) > a {
  margin-left: 10px;
  text-decoration: none;
}
main #popular-products > div > div:nth-child(2) > div:first-child > div:nth-child(4) > a > i {
  color: black;
}
main #popular-products > div > div:nth-child(2) > div:first-child > div:nth-child(4) > :hover > i {
  color: #f6861f;
}
main #popular-products > div > div:nth-child(2) > div:first-child > button {
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  border-color: #3192ec;
}
main #popular-products > div > div:nth-child(2) > div:first-child > button > span {
  color: #3192ec;
}
main #popular-products > div > div:nth-child(2) > div:first-child > button > i {
  color: #3192ec;
}
main #popular-products > div > div:nth-child(2) > div:last-child {
  margin-top: 60px;
}
main #popular-products > div > div:nth-child(2) > div:last-child > div:first-child {
  display: flex;
  justify-content: space-between;
}
main #popular-products > div > div:nth-child(2) > div:last-child > div:first-child > span {
  margin-left: 10px;
  font-size: x-large;
  font-weight: 500;
}
main #popular-products > div > div:nth-child(2) > div:last-child > div:first-child > button {
  margin-right: 10px;
  width: 153px;
  height: 78px;
  border-color: rgb(238, 236, 236);
  background-color: white;
  border-style: solid;
}
main #popular-products > div > div:nth-child(2) > div:last-child > div:last-child {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
main #popular-products > div > div:nth-child(2) > div:last-child > div:last-child > a > :hover {
  background-color: white;
  border-color: #40b659;
  transition: 0.7s;
}
main #popular-products > div > div:nth-child(2) > div:last-child > div:last-child > a > :hover > i {
  color: #40b659;
}
main #popular-products > div > div:nth-child(2) > div:last-child > div:last-child > a > :hover > span {
  color: #40b659;
}
main #popular-products > div > div:nth-child(2) > div:last-child > div:last-child > a > button {
  cursor: pointer;
  width: 253px;
  height: 45px;
  border-style: solid;
  background-color: #40b659;
  border-radius: 5px;
  border-color: white;
}
main #popular-products > div > div:nth-child(2) > div:last-child > div:last-child > a > button > i {
  color: white;
}
main #popular-products > div > div:nth-child(2) > div:last-child > div:last-child > a > button > span {
  color: white;
  font-size: 17px;
  font-weight: 500;
}
main #popular-products > div > div:nth-child(3) {
  width: -moz-min-content;
  width: min-content;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
}
main #popular-products > div > div:nth-child(3) > div:first-child > div:nth-child(3) {
  display: grid;
  margin-left: 10px;
}
main #popular-products > div > div:nth-child(3) > div:first-child > div:nth-child(3) > span:first-child {
  font-size: 14px;
  color: #7f8185;
}
main #popular-products > div > div:nth-child(3) > div:first-child > div:nth-child(3) > span:last-child {
  font-size: 18px;
  font-weight: 500;
}
main #popular-products > div > div:nth-child(3) > div:first-child > a > img {
  width: 283px;
  height: 188px;
}
main #popular-products > div > div:nth-child(3) > div:first-child > a {
  text-decoration: none;
}
main #popular-products > div > div:nth-child(3) > div:first-child > a > :hover {
  transition: 0.3s;
  color: #f6861f;
}
main #popular-products > div > div:nth-child(3) > div:first-child > a > i {
  margin-left: 12px;
  margin-top: 12px;
  color: #7f8185;
}
main #popular-products > div > div:nth-child(3) > div:first-child > div:nth-child(4) > a {
  margin-left: 10px;
  text-decoration: none;
}
main #popular-products > div > div:nth-child(3) > div:first-child > div:nth-child(4) > a > i {
  color: black;
}
main #popular-products > div > div:nth-child(3) > div:first-child > div:nth-child(4) > :hover > i {
  color: #f6861f;
}
main #popular-products > div > div:nth-child(3) > div:first-child > button {
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  border-color: #3192ec;
}
main #popular-products > div > div:nth-child(3) > div:first-child > button > span {
  color: #3192ec;
}
main #popular-products > div > div:nth-child(3) > div:first-child > button > i {
  color: #3192ec;
}
main #popular-products > div > div:nth-child(3) > div:last-child {
  margin-top: 60px;
}
main #popular-products > div > div:nth-child(3) > div:last-child > div:first-child {
  display: flex;
  justify-content: space-between;
}
main #popular-products > div > div:nth-child(3) > div:last-child > div:first-child > span {
  margin-left: 10px;
  font-size: x-large;
  font-weight: 500;
}
main #popular-products > div > div:nth-child(3) > div:last-child > div:first-child > button {
  margin-right: 10px;
  width: 153px;
  height: 78px;
  border-color: rgb(238, 236, 236);
  background-color: white;
  border-style: solid;
}
main #popular-products > div > div:nth-child(3) > div:last-child > div:last-child {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
main #popular-products > div > div:nth-child(3) > div:last-child > div:last-child > a > :hover {
  background-color: white;
  border-color: #40b659;
  transition: 0.7s;
}
main #popular-products > div > div:nth-child(3) > div:last-child > div:last-child > a > :hover > i {
  color: #40b659;
}
main #popular-products > div > div:nth-child(3) > div:last-child > div:last-child > a > :hover > span {
  color: #40b659;
}
main #popular-products > div > div:nth-child(3) > div:last-child > div:last-child > a > button {
  cursor: pointer;
  width: 253px;
  height: 45px;
  border-style: solid;
  background-color: #40b659;
  border-radius: 5px;
  border-color: white;
}
main #popular-products > div > div:nth-child(3) > div:last-child > div:last-child > a > button > i {
  color: white;
}
main #popular-products > div > div:nth-child(3) > div:last-child > div:last-child > a > button > span {
  color: white;
  font-size: 17px;
  font-weight: 500;
}
main #popular-products > div > div:last-child {
  width: -moz-min-content;
  width: min-content;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
}
main #popular-products > div > div:last-child > div:first-child > div:nth-child(3) {
  display: grid;
  margin-left: 10px;
}
main #popular-products > div > div:last-child > div:first-child > div:nth-child(3) > span:first-child {
  font-size: 14px;
  color: #7f8185;
}
main #popular-products > div > div:last-child > div:first-child > div:nth-child(3) > span:last-child {
  font-size: 18px;
  font-weight: 500;
}
main #popular-products > div > div:last-child > div:first-child > a > img {
  width: 283px;
  height: 188px;
}
main #popular-products > div > div:last-child > div:first-child > a {
  text-decoration: none;
}
main #popular-products > div > div:last-child > div:first-child > a > :hover {
  transition: 0.3s;
  color: #f6861f;
}
main #popular-products > div > div:last-child > div:first-child > a > i {
  margin-left: 12px;
  margin-top: 12px;
  color: #7f8185;
}
main #popular-products > div > div:last-child > div:first-child > div:nth-child(4) > a {
  margin-left: 10px;
  text-decoration: none;
}
main #popular-products > div > div:last-child > div:first-child > div:nth-child(4) > a > i {
  color: black;
}
main #popular-products > div > div:last-child > div:first-child > div:nth-child(4) > :hover > i {
  color: #f6861f;
}
main #popular-products > div > div:last-child > div:first-child > button {
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  border-color: #3192ec;
}
main #popular-products > div > div:last-child > div:first-child > button > span {
  color: #3192ec;
}
main #popular-products > div > div:last-child > div:first-child > button > i {
  color: #3192ec;
}
main #popular-products > div > div:last-child > div:last-child {
  margin-top: 60px;
}
main #popular-products > div > div:last-child > div:last-child > div:first-child {
  display: flex;
  justify-content: space-between;
}
main #popular-products > div > div:last-child > div:last-child > div:first-child > span {
  margin-left: 10px;
  font-size: x-large;
  font-weight: 500;
}
main #popular-products > div > div:last-child > div:last-child > div:first-child > button {
  margin-right: 10px;
  width: 153px;
  height: 78px;
  border-color: rgb(238, 236, 236);
  background-color: white;
  border-style: solid;
}
main #popular-products > div > div:last-child > div:last-child > div:last-child {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
main #popular-products > div > div:last-child > div:last-child > div:last-child > a > :hover {
  background-color: white;
  border-color: #40b659;
  transition: 0.7s;
}
main #popular-products > div > div:last-child > div:last-child > div:last-child > a > :hover > i {
  color: #40b659;
}
main #popular-products > div > div:last-child > div:last-child > div:last-child > a > :hover > span {
  color: #40b659;
}
main #popular-products > div > div:last-child > div:last-child > div:last-child > a > button {
  cursor: pointer;
  width: 253px;
  height: 45px;
  border-style: solid;
  background-color: #40b659;
  border-radius: 5px;
  border-color: white;
}
main #popular-products > div > div:last-child > div:last-child > div:last-child > a > button > i {
  color: white;
}
main #popular-products > div > div:last-child > div:last-child > div:last-child > a > button > span {
  color: white;
  font-size: 17px;
  font-weight: 500;
}
main #partners > div:first-child {
  border-radius: 15px;
  font-family: system-ui;
  margin-left: 93px;
  width: 1322px;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgb(185, 185, 185);
  background-color: rgba(244, 243, 243, 0.64);
}
main #partners > div:first-child > div:nth-child(2) > a > img {
  margin-top: 15px;
}
main #partners > div:first-child > div:nth-child(3) {
  margin-top: 10px;
}
main #partners > div:first-child > div:nth-child(4) {
  margin-top: 25px;
}
main #partners > div:first-child > div:nth-child(5) {
  margin-top: 30px;
}
main #partners > div:first-child > div:last-child {
  margin-top: 30px;
}
main #product-showcase {
  height: 150vh;
  font-family: system-ui;
  margin-left: 93px;
  width: 1322px;
}
main #product-showcase > div:first-child {
  display: flex;
  justify-content: space-between;
}
main #product-showcase > div:first-child > h2 {
  margin-top: 30px;
  font-size: 45px;
  font-weight: 500;
}
main #product-showcase > div:first-child > a > :hover {
  background-color: white;
  border-color: red;
  transition: 0.7s;
}
main #product-showcase > div:first-child > a > :hover > i {
  color: red;
}
main #product-showcase > div:first-child > a > :hover > span {
  color: red;
}
main #product-showcase > div:first-child > a > button {
  cursor: pointer;
  margin-top: 45px;
  width: 242px;
  height: 50px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  background-color: red;
}
main #product-showcase > div:first-child > a > button > i {
  color: white;
}
main #product-showcase > div:first-child > a > button > span {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
main #product-showcase > div:nth-child(2) {
  display: flex;
}
main #product-showcase > div:nth-child(2) > div:first-child > a:first-child > img {
  border: 1px solid white;
  border-radius: 10px;
  width: 425px;
  height: 325px;
}
main #product-showcase > div:nth-child(2) > div:first-child > a:nth-child(2) {
  text-decoration: none;
}
main #product-showcase > div:nth-child(2) > div:first-child > a:nth-child(2) > :hover {
  color: #40b659;
  transition: 0.3s;
}
main #product-showcase > div:nth-child(2) > div:first-child > a:nth-child(2) > p {
  color: black;
  font-size: 23px;
}
main #product-showcase > div:nth-child(2) > div:first-child > span {
  display: flex;
  height: 150px;
  width: 430px;
}
main #product-showcase > div:nth-child(2) > div:nth-child(2) {
  margin-left: 23px;
}
main #product-showcase > div:nth-child(2) > div:nth-child(2) > a:first-child > img {
  border: 1px solid white;
  border-radius: 10px;
  width: 425px;
  height: 325px;
}
main #product-showcase > div:nth-child(2) > div:nth-child(2) > a:nth-child(2) {
  text-decoration: none;
}
main #product-showcase > div:nth-child(2) > div:nth-child(2) > a:nth-child(2) > :hover {
  color: #40b659;
  transition: 0.3s;
}
main #product-showcase > div:nth-child(2) > div:nth-child(2) > a:nth-child(2) > p {
  color: black;
  font-size: 23px;
}
main #product-showcase > div:nth-child(2) > div:nth-child(2) > span {
  display: flex;
  height: 150px;
  width: 430px;
}
main #product-showcase > div:nth-child(2) > div:last-child {
  margin-left: 23px;
}
main #product-showcase > div:nth-child(2) > div:last-child > a:first-child > img {
  border: 1px solid white;
  border-radius: 10px;
  width: 425px;
  height: 325px;
}
main #product-showcase > div:nth-child(2) > div:last-child > a:nth-child(2) {
  text-decoration: none;
}
main #product-showcase > div:nth-child(2) > div:last-child > a:nth-child(2) > :hover {
  color: #40b659;
  transition: 0.3s;
}
main #product-showcase > div:nth-child(2) > div:last-child > a:nth-child(2) > p {
  color: black;
  font-size: 23px;
}
main #product-showcase > div:nth-child(2) > div:last-child > span {
  display: flex;
  height: 150px;
  width: 430px;
}
main #product-showcase > div:last-child {
  margin-top: 10%;
  background-color: #393e4a;
  border: 1px solid white;
  border-radius: 10px;
  width: 1326px;
  height: 412px;
  display: flex;
  justify-content: space-around;
}
main #product-showcase > div:last-child > div:first-child {
  margin-left: 30px;
  margin-top: 120px;
}
main #product-showcase > div:last-child > div:first-child > h2 {
  font-size: 40px;
  margin: 0 0px 0 0px;
  color: white;
}
main #product-showcase > div:last-child > div:first-child > a > :hover {
  background-color: #393e4a;
  border-color: #40b659;
  transition: 0.7s;
}
main #product-showcase > div:last-child > div:first-child > a > :hover > span {
  color: #40b659;
}
main #product-showcase > div:last-child > div:first-child > a > button {
  cursor: pointer;
  width: 225px;
  height: 50px;
  margin-top: 60px;
  background-color: #40b659;
  border-style: solid;
  border-color: #393e4a;
  border-radius: 5px;
}
main #product-showcase > div:last-child > div:first-child > a > button > span {
  color: white;
  font-size: 16px;
  font-weight: 700;
}
main #product-showcase > div:last-child > div:last-child {
  margin-top: 5%;
  display: grid;
}
main #product-showcase > div:last-child > div:last-child > img {
  border: 2px solid green;
  border-radius: 10px;
  width: 230px;
  height: 230px;
}
main #product-showcase > div:last-child > div:last-child > span {
  color: white;
  font-size: 18px;
}

footer {
  border-top: 11px solid #40b659;
  margin-top: 350px;
  background-color: #18181a;
  width: 1518px;
  height: 630px;
  font-family: system-ui;
}
footer > div:first-child {
  display: flex;
  justify-content: space-evenly;
}
footer > div:first-child > div:first-child {
  margin-top: 100px;
  border: 1px solid #95979c;
  border-radius: 10px;
  width: 268px;
  height: 323px;
  display: grid;
  align-items: center;
}
footer > div:first-child > div:first-child > img {
  margin-left: 55px;
  width: 158px;
  height: 158px;
}
footer > div:first-child > div:first-child > span {
  margin-left: 15px;
  color: #95979c;
}
footer > div:first-child > div:nth-child(2) {
  display: flex;
}
footer > div:first-child > div:nth-child(2) > div:first-child {
  display: grid;
  margin-top: 80px;
}
footer > div:first-child > div:nth-child(2) > div:first-child > :hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}
footer > div:first-child > div:nth-child(2) > div:first-child > a {
  text-decoration: none;
  color: #95979c;
}
footer > div:first-child > div:nth-child(2) > div:first-child > a > h3 {
  color: white;
}
footer > div:first-child > div:nth-child(2) > div:last-child {
  display: grid;
  margin-left: 35px;
  margin-top: 80px;
}
footer > div:first-child > div:nth-child(2) > div:last-child > :hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}
footer > div:first-child > div:nth-child(2) > div:last-child > a {
  text-decoration: none;
  color: #95979c;
}
footer > div:first-child > div:nth-child(2) > div:last-child > a > h3 {
  color: white;
}
footer > div:first-child > div:last-child {
  margin-top: 80px;
}
footer > div:first-child > div:last-child > div:first-child > h3 {
  color: white;
}
footer > div:first-child > div:last-child > div:nth-child(2) {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-evenly;
}
footer > div:first-child > div:last-child > div:nth-child(2) > a {
  text-decoration: none;
}
footer > div:first-child > div:last-child > div:nth-child(2) > a > p {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
footer > div:first-child > div:last-child > div:nth-child(2) > div:last-child {
  margin-left: 15px;
  margin-top: 38px;
}
footer > div:first-child > div:last-child > div:nth-child(2) > div:last-child > span {
  color: white;
  font-size: 20px;
}
footer > div:first-child > div:last-child > div:nth-child(2) > div:last-child > i {
  color: white;
}
footer > div:first-child > div:last-child > div:last-child > h4 {
  display: flex;
  justify-content: center;
  color: white;
}
footer > div:first-child > div:last-child > div:last-child > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
}
footer > div:first-child > div:last-child > div:last-child > div:nth-child(2) > a {
  text-decoration: none;
}
footer > div:first-child > div:last-child > div:last-child > div:nth-child(2) > a > i {
  color: white;
}
footer > div:first-child > div:last-child > div:last-child > div:last-child {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}
footer > div:first-child > div:last-child > div:last-child > div:last-child > a > :hover {
  background-color: white;
  transition: 0.7s;
}
footer > div:first-child > div:last-child > div:last-child > div:last-child > a > :hover > i {
  color: black;
}
footer > div:first-child > div:last-child > div:last-child > div:last-child > a > button {
  cursor: pointer;
  width: 136px;
  height: 40px;
  border: 2px solid white;
  background-color: #18181a;
  border-radius: 10px;
}
footer > div:first-child > div:last-child > div:last-child > div:last-child > a > button > i {
  color: white;
}
footer > div:last-child {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}
footer > div:last-child > a > img {
  height: 40px;
  width: 91px;
}
footer > div:last-child > span {
  color: #95979c;
}/*# sourceMappingURL=style.css.map */